{{action-bar for="posts" newPost=(action "newPost")}}
<div class="content-wrapper">
  {{page-filter}}
  <div class=="post-list">
    {{#each posts as |post|}}
    {{page-list-item for="posts" post=post newPost="newPost" editPost=(action "editPost")}}
    {{/each}}
  </div>
</div>
