{{action-bar for="posts" newPost="newPost" toggleSideBar="toggleSideBar"}}
<div class="page__content">
  {{page-filter activeFilter=status updateFilter=(action "updateFilter") searchText=searchText}}
  <div class="post-list">
    {{#each filteredPosts as |post|}}
    {{page-list-item
    for="posts"
    post=post
    newPost="newPost"
    editPost="editPost"
    publish="publish"
    removePost="removePost"
    openExternalLink=(action "viewPost" post)
    }}
    {{/each}}
  </div>
</div>
