{{action-bar actionArgs='["posts.new"]' goTo="goTo"}}
<div class="content-wrapper">
  {{page-filter}}
  {{#each posts as |post|}}
  {{page-list-item goTo="goTo" for="post-list" popoverItems=postActionItems post=post}}
  {{/each}}
</div>
