<div class="page-list__item__name">
  {{post.name}}
  <p class="page-list__item__author">Author: Dylan Foster</p>
</div>
<div class="page-list__item__action" {{action "toggleMenu"}}>
  {{fa-icon icon="ellipsis-v" class="icon"}}
</div>
{{pop-over
for="pages"
popoverItems=pageItemActions.popover
triggerAction=(action "triggerAction")
}}
