<div class="post__name">
  {{post.name}}
  <p class="post__author">Author: Dylan Foster</p>
</div>
<div class="post__action" {{action "toggleMenu"}}>
  {{fa-icon icon="ellipsis-v" class="icon"}}
</div>
{{pop-over
for=singularFor
popoverItems=postItemActions.popover
triggerAction=(action "triggerAction")
}}
