<div class="popover-wrap">
  <div class="popover__tip">
  </div>
  <ul class="popover__content">
    {{#each popoverItems as |item|}}
    <li class="popover__item" {{action "triggerAction" item.action}}>
      {{fa-icon icon=item.icon class="icon popover__icon"}} {{item.text}}
    </li>
    {{/each}}
  </ul>
</div>
