$white: #FFFFFF;
$offwhite: #FAFAFA;

$brand: (
  "brown": #D67111,
  "orange": #FFAD5E,
  "blue-light": #4F67B4,
  "blue": #1B3691
);

@each $color, $value in $brand {
  .f-#{$color} {
    color: #{$value};
  }
  .f-bg-#{$color} {
    background-color: #{$value};
  }
}
