$white: #FFFFFF;
$offwhite: #FAFAFA;

$brand: (
  "brown": #D67111,
  "orange": #FFAD5E,
  "blue-light": #4F67B4,
  "blue": #1B3691,
  "green": #0DA22E,
  "green-light": #4FC469,
  "red": #AD0404,
  "red-light": #D61111
);

@each $color, $value in $brand {
  .bf-#{$color} {
    color: #{$value};
  }
  .bf-bg-#{$color} {
    background-color: #{$value};
  }
  .bf-bb-#{$color} {
    border-bottom: 1px solid #{$value};
  }
}
