.action-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 65px;
  width: 100%;
  @extend .bf-bg-brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @include element("actions") {
    display: flex;
    flex-direction: row;
  }
  @include element("action") {
    height: 50px;
    width: 50px;
    @extend .bf-bg-blue;
    border-radius: 100%;
    margin-right: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    transition: background-color .2s ease;
    @include modifier("trash") {
      @extend .bf-bg-red;
      &:hover {
        @extend .bf-bg-red-light;
      }
    }
    &:hover {
      cursor: pointer;
      @extend .bf-bg-blue-light;
    }
  }
  @include element("icon") {
    color: $white;
    font-size: 1.25rem;
    position: relative;
    transform: translateY(80%);
  }
}

.logo {
  padding: 12px 20px;
  border-right: 1px solid map-get($brand, "orange");
}

