.action-bar {
  height: 65px;
  width: 100%;
  @extend .f-bg-brown;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  @include element("action") {
    height: 50px;
    width: 50px;
    @extend .f-bg-blue;
    border-radius: 100%;
    margin-right: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    transition: background-color .2s ease;
    @include modifier("trash") {
      @extend .f-bg-red;
      &:hover {
        @extend .f-bg-red-light;
      }
    }
    .icon {
      color: $white;
      font-size: 1.25rem;
      position: relative;
      transform: translateY(80%);
    }
    &:hover {
      cursor: pointer;
      @extend .f-bg-blue-light;
    }
  }
}

