@import "reset";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $helvetica;
  font-size: $base-font-size;
  background-color: $offwhite;
  max-width: 1440px;
}
