@import "reset";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $helvetica;
  font-size: $base-font-size;
  background-color: $offwhite;
  max-width: 1440px;
}

.content-wrapper {
  margin: 30px;
  padding-left: 230px;
}

@media only screen and (max-width: 769px) {
  .content-wrapper {
    padding-left: 0;
  }
}
