.form {
  @include element("label") {
    display: flex;
    flex-direction: column;
    @extend .bf-orange;
    margin: 8px 0;
  }
  @include element("input") {
    padding: 8px;
    font-size: 1rem;
    @include modifier("inline") {
      margin: 0 8px;
    }
    @include modifier("page-filter") {
      width: 100%;
      padding: 0;
      height: calc(100% - 4px);
      border: none;
    }
  }
}

.search-box {
  @include element("toggle") {
    padding: 20px;
  }
  @include element("icon") {
    @extend .bf-blue;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
