.navigation {
  @include modifier("global") {
    transition: all .1s linear;
    position: fixed;
    width: 230px;
    top: 65px;
    bottom: 0;
    left: 0;
    @extend .f-bg-brown;
  }
}

.menu {
  @include element("item") {
    transition: background-color .2s ease;
    &:hover, &.active {
      @extend .f-bg-orange;
      .link {
        @extend .f-brown;
      }
    }
  }
  @include element("icon") {
    padding: 0 20px 0;
  }
  @include element("link") {
    display: block;
    padding: 20px 8px;
    width: 100%;
    transition: color .2s ease;
  }
}

@media only screen and (max-width: 769px) {
  .navigation {
    @include modifier("global") {
      width: 0;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
    }
    @include modifier("open") {
      width: 230px;;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 500px) {
  .navigation {
    @include modifier("open") {
      width: 100%;
    }
  }
}
