.navigation {
  @include modifier("global") {
    position: fixed;
    width: 230px;
    top: 65px;
    bottom: 0;
    left: 0;
    @extend .f-bg-brown;
  }
}

.menu {
  @include modifier("global") {
  }
  @include element("item") {
    transition: background-color .2s ease;
    &:hover, &.active {
      @extend .f-bg-orange;
      .link {
        @extend .f-brown;
      }
    }
    .link {
      display: block;
      padding: 20px 8px;
      width: 100%;
      transition: color .2s ease;
    }
    .icon {
      padding: 0 20px 0;
    }
  }
}

@media only screen and (max-width: 769px) {
  .navigation {
    @include modifier("global") {
      width: 0;
      opacity: 0;
      visbility: hidden;
    }
  }

  .menu {
    @include element("item") {
      .link {
        padding: 20px 3px;
      }
      @include element("text") {
        display: none;
      }
    }
  }
}
