$helvetica: "Helvetica";
$base-font-size: 1em;

.link {
  text-decoration: none;
  @extend .bf-orange;
}

.heading {
  @include modifier("title") {
    @extend .bf-orange;
    font-weight: lighter;
    margin-left: 10px;
    margin-bottom: 0;
  }
}
