{{action-bar actionArgs='["pages.new"]' goTo="goTo"}}
<div class="content-wrapper">
  {{page-filter}}
  <div class="page-list">
    {{#each pages as |page|}}
    {{page-list-item post=page toggleMenu=(action "toggleMenu" "page-list-popover")}}
    {{/each}}
  </div>
</div>
