{{action-bar actionArgs='["pages.new"]' goTo="goTo"}}
<div class="content-wrapper">
  {{page-filter}}
  <div class="page-list">
    {{#each pages as |page|}}
    {{page-list-item goTo="goTo" for="page-list" popoverItems=pageActionItems post=page}}
    {{/each}}
  </div>
</div>
